Repository jameswilliams1/docker-python-webdriver: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylama, mypy, yamllint

isort:
  name: isort
  description: Run isort import sorting on python files.
  entry: isort
  args:
  - --settings-path=setup.cfg
  language: python

black:
  name: black
  description: Run Black code formatting on python files.
  entry: black
  args:
  - --config=pyproject.toml
  require_serial: true
  language: system

pylama:
  name: pylama
  description: Run pylama code linting on python files.
  entry: pylama
  args:
  - --options=setup.cfg
  language: python

mypy:
  name: mypy
  description: Run mypy type checking on python files.
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

yamllint:
  name: yamllint
  description: Run yamllint code linting on yaml files.
  entry: yamllint
  args:
  - --config-file=.yamllint
  language: python

add local build script, add hashbang and main to verify script as well as test functions
  build_local_image.sh
  verify_image.py
Due: isort, black, pylama, mypy

add artifact upload to build step, add verify image step
  .github/workflows/docker-test.yml
Due: yamllint

fix shell command spacing
  .github/workflows/docker-test.yml
Due: yamllint

try compressing image with bz2
  .github/workflows/docker-test.yml
Due: yamllint

drop pipefail (done by github), try to fix docker load
  .github/workflows/docker-test.yml
Due: yamllint

cleanup and rename CI
  .github/workflows/code-test.yml
  .github/workflows/docker-test.yml
Due: yamllint

add version bump to ci
  .github/workflows/bump-version.yml
Due: yamllint

update to bump version only on code changes, update coments in scripts
  .dockerignore
  .github/workflows/bump-version.yml
  build_local_image.sh
Due: yamllint

add deployment workflow for master tags, rename to code for scripts tests
  .github/workflows/code-test.yml
  .github/workflows/docker-test.yml
Due: yamllint

rename docker workflow
  .github/workflows/docker-build.yml
Due: yamllint

update readme with note
  README.md
Due: none

update ci to not run tests on doc only pushes
  .github/workflows/code-test.yml
Due: yamllint

add todo, update labels to dockerfile, drop selenium user
  3.7/slim-buster/all/Dockerfile
Due: none

fix wrong syntax for giyhub secrets
  .github/workflows/docker-build.yml
Due: yamllint

Add dockerfile for 3.7-slim-buster-all, create initial CI/CD pipeline (#1)
  .dockerignore
  .github/workflows/bump-version.yml
  .github/workflows/code-test.yml
  .github/workflows/docker-build.yml
  .pre-commit-config.yaml
  .yamllint
  3.7/slim-buster/all/Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  build_local_image.sh
  pyproject.toml
  scripts/__init__.py
  setup.cfg
  verify_image.py
Due: isort, black, pylama, mypy, yamllint

add chrome only dockerfile, bump image version #minor
  3.7/slim-buster/chrome/Dockerfile
Due: none

update ci to also build chrome image
  .github/workflows/docker-build.yml
Due: yamllint

Add Dockerfile for 3.7-slim-buster-chrome using only Google Chrome, update CI build to build and deploy it (#2)
  .github/workflows/docker-build.yml
  3.7/slim-buster/chrome/Dockerfile
Due: yamllint

add dockerfiles for all/chrome on py3.8
  3.7/slim-buster/all/Dockerfile
  3.8/slim-buster/all/Dockerfile
  3.8/slim-buster/chrome/Dockerfile
Due: none

fix descriptions for chrome only images
  3.7/slim-buster/chrome/Dockerfile
  3.8/slim-buster/chrome/Dockerfile
Due: none

add new tags to readme, add better description
  README.md
Due: none

add auto update for dockerhub description
  .github/workflows/update-docs.yml
Due: yamllint

add 3.8 to ci build
  .github/workflows/docker-build.yml
Due: yamllint

Add Dockerfiles for Python 3.8, update README, add action to push README to DockerHub on update (#3)
  .github/workflows/docker-build.yml
  .github/workflows/update-docs.yml
  3.7/slim-buster/all/Dockerfile
  3.8/slim-buster/all/Dockerfile
  3.8/slim-buster/chrome/Dockerfile
  README.md
Due: yamllint

#fix install virtual display driver so webdrivers work as expected
  3.7/slim-buster/all/Dockerfile
  3.7/slim-buster/chrome/Dockerfile
  3.8/slim-buster/all/Dockerfile
  3.8/slim-buster/chrome/Dockerfile
Due: none

#fix install virtual display driver so webdrivers work as expected (#4)
  3.7/slim-buster/all/Dockerfile
  3.7/slim-buster/chrome/Dockerfile
  3.8/slim-buster/all/Dockerfile
  3.8/slim-buster/chrome/Dockerfile
Due: none

#patch fix broken links in readme
  README.md
Due: none

add types to pr workflow, rename docs workflow, add pr workflow paths to reduce useless runs
  .github/workflows/docker-build.yml
  .github/workflows/update-docs.yml
Due: yamllint

Path conditions:
  isort: any of: \.py$, but not: (^|/)\.git($|/)|(^|/)\.tox($|/)|^docs($|/)|(^|/)build($|/)|(^|/)dist($|/)
  black: any of: \.py$, but not: (^|/)\.git($|/)|(^|/)\.tox($|/)|^docs($|/)|(^|/)build($|/)|(^|/)dist($|/)
  pylama: any of: \.py$, but not: (^|/)\.git($|/)|(^|/)\.tox($|/)|^docs($|/)|(^|/)build($|/)|(^|/)dist($|/)
  mypy: any of: \.py$, but not: (^|/)\.git($|/)|(^|/)\.tox($|/)|^docs($|/)|(^|/)build($|/)|(^|/)dist($|/)
  yamllint: any of: \.(yaml|yml)$, but not: (^|/)\.git($|/)|(^|/)\.tox($|/)|^docs($|/)|(^|/)build($|/)|(^|/)dist($|/)
